@{
    ViewBag.Title = "Demo Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Demo Home page</h2>

<ul id="demoCategories">
    <li>@Html.ActionLink("Html 5 Samples", MVC.Html5.Geolocation.Index())</li>
    <li>@Html.ActionLink("Jquery Samples", MVC.Jquery.ImageRotator.Index())</li>
</ul>