<div>
    <div id="topMenuLogo"></div>
    <div id="topNavigationLinks" >
        <ul>
            <li>@Html.ActionLink("Back to Main Site", MVC.Home.Index())</li>
        </ul>
    </div>
</div>