@{
    ViewBag.Title = "Avi Jassra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Hi All, this is Avi Jassra and i am trying to setup up my site to display demos related to <mark>HTML 5, jQuery, ASP.net MVC</mark>.
    This is start up site and i will be going through many changes to make it more user friendly and intiutive to use.
    <br /><br />
    You can also go thru my blogs and leave your feedback over there.
</p>
