@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Html5/Views/Shared/_Layout.cshtml";
}

@section IncludeScripts
{
    <script src="@Microsoft.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Include/Cache/WebStorage.Scripts")" type="text/javascript"></script>
}

<h2>Web-Storage</h2>

<ul id="tododata" contenteditable="true">
    <li></li>
</ul>

<section>
    <h4>Local Storage</h4>

    <ul id="todoLocalStorage" >
        <li></li>
    </ul>
</section>

<section>
    <h4>Session Storage</h4>

    <ul id="todoSessionStorage" >
        <li></li>
    </ul>
</section>


<input id="saveLocalStorage" type="button" value="save" />
