<div>
    <div id="topMenuLogo"></div>
    <div id="topNavigationLinks" >
        <ul>
            <li>@Html.ActionLink("Home", MVC.Home.Index())</li>
            <li><a href="http://avijassra.blogspot.com/">Blogs</a></li>
            <li>@Html.ActionLink("Videos", MVC.Video.Index())</li>
            <li>@Html.ActionLink("Html5", MVC.Html5.Geolocation.Index())</li>
            <li>@Html.ActionLink("Jquery", MVC.Jquery.ImageRotator.Index())</li>
        </ul>
    </div>
</div>