<ul>
    <li>@Html.ActionLink("Geolocation", MVC.Html5.Geolocation.Index())</li>
    <li>@Html.ActionLink("Server-Sent Event", MVC.Html5.User.Index())</li>
    <li>@Html.ActionLink("Web Storage", MVC.Html5.WebStorage.Index())</li>
    <li>@Html.ActionLink("CSS Animation", MVC.Html5.CssAnimation.Index())</li>
</ul>