@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Videos</h2>

<iframe width="640" height="360" src="http://www.youtube.com/embed/Nb_Rch9wmmw?hd=1" frameborder="0" allowfullscreen>
</iframe>

<br /><hr /><br />

<iframe width="640" height="360" src="http://www.youtube.com/embed/i_qE1iAmjFg?hd=1" frameborder="0" allowfullscreen>
</iframe>

<br /><hr /><br />

<iframe width="640" height="360" src="http://www.youtube.com/embed/ARnp9Y8xgR4?hd=1" frameborder="0" allowfullscreen>
</iframe>
<br /><hr /><br />